<%= bulma_form_with(model: [:admins, employee]) do |form| %>

  <div class="field">
    <%= form.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.text_field :number_of_available_kudos %>
  </div>


  <div class="actions">
    <%= form.submit "Save Employee", class: "button is-primary" %>
  </div>
<% end %>