<div class='container'>
  <nav class="level is-mobile">
    <div class="level-left">
      <p class='is-size-3'><strong>Rewards</strong></p>
    </div>
    <div class="tabs is-centered">
      <ul>
        <% presenter = FilterLinksPresenter.new(self, filter_key: "category") %>
        <% @category_titles.each do |category| %>
          <%= presenter.styled_link_to_filter_query(request, category) %>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="columns">
    <% @rewards.each do |reward| %>
      <div class="column is-one-third">
        <div class="card constant-height-card" test_id="reward_<%=reward.id%>">
          <div class="card-content constant-height-card">
            <p class="title">
              <%= reward.title %>
            </p>
            <p class="subtitle">
              Price: <%= reward.price %>
            </p>
            <div>
              <% reward.categories.each do |category| %>
                <span class='tag'> <%= category.title %></span>
              <% end %>
            </div>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <%= link_to 'Show details', reward, class: 'button' %>
              </span>
            </p>
          </footer>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @rewards %>
</div>
<% content_for :head do %>
  <%= rel_next_prev_link_tags @rewards %>
<% end %>
