<%= bulma_form_with(model: kudo) do |form| %>

  <div class="field">
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :reciever_id, class: 'label' %>
      <div class="control">
    <div class="select">
    <%= form.collection_select :reciever_id, Employee.where.not(id: current_employee.id), :id, :email %>
  </div>
  </div>
  </div>

  <div class="actions">
    <%= form.submit "Save Kudo", class: "button is-primary" %>
  </div>
<% end %>
