<div class='container is-fluid'>
<div class="navbar-menu">
  <div class="navbar-start">
    <h1>Kudos</h1>
  </div>
  <div class="navbar-end">
    <%= link_to 'New Kudo', new_kudo_path, class: static_button_if_zero(current_employee.number_of_available_kudos) %>
  </div>
</div>
  <div class='box'>
<div class="list has-hoverable-list-items has-visible-pointer-controls">
  <% @kudos.each do |kudo| %>
    <div class="list-item" id="kudo_<%= kudo.id %>">
      <div class="list-item-content">
        <div class="list-item-title"><%= kudo.title %></div>
        <div class="list-item-description">
          <p><%= kudo.content %></p>
          <div>
            <div class="has-text-black columns">
              <div class="column is-one-fifth">
                <span class="has-text-weight-bold">Giver: </span> <%= kudo.giver.email %>
              </div>
              <div class="column is-one-quater">
                <span class="has-text-weight-bold">Reciever: </span> <%= kudo.reciever.email %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="list-item-controls">
        <div class="buttons is-right">
          <% if employee_signed_in? && (kudo.giver == current_employee) %>
              <%= link_to 'Destroy', kudo, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger is-light is-outlined" %>
              <%= link_to 'Edit', edit_kudo_path(kudo), class: 'button' %>
          <% else %>
            <button class="button is-danger is-light is-outlined is-invisible">
              <span>Destroy</span>
            </button>

            <button class="button is-invisible">
              <span>Edit</span>
            </button>
          <% end %>
            <%= link_to 'Show', kudo, class: 'button' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
</div>
