<div class='section'>
  <div class='box'>
    <p>
      <strong>Title:</strong>
      <%= @kudo.title %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @kudo.content %>
    </p>

    <p>
      <strong>Company Value:</strong>
      <%= @kudo.company_value.title %>
    </p>

    <p>
      <strong>Giver:</strong>
      <%= @kudo.giver.email %>
    </p>

    <p>
      <strong>Reciever:</strong>
      <%= @kudo.reciever.email %>
    </p>
    <div class='mt-3'>
      <% if policy(@kudo).giver? %>
        <%= link_to 'Edit', edit_kudo_path(@kudo), class: 'button', :disabled => !policy(@kudo).edit? %>
        <%= link_to 'Delete', @kudo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger is-light is-outlined', :disabled => !policy(@kudo).destroy? %>
      <% end %>
      <%= link_to 'Back', kudos_path, class: 'button' %>
    </div>
  </div>
</div>
