<div class='section'>
  <div class='box'>
    <p>
      <strong>Title:</strong>
      <%= @reward.title %>
    </p>
    <div>
      <%= image_tag @reward.image if @reward.image.attached? %>
    </div>
    <p>
      Price: <%= @reward.price %>
    </p>
    <p>
      <%= @reward.description %>
    </p>
    <div>
      <% @reward.categories.each do |category| %>
        <span class='tag'> <%= category.title %></span>
      <% end %>
    </div>

    <div class='mt-3'>
      <%= link_to 'Edit', edit_admins_reward_path(@reward), class: 'button' %>
      <%= link_to 'Back', :back, class: 'button' %>
    </div>
  </div>
</div>
