<div class='container is-max-widescreen'>
  <nav class="level is-mobile">
    <div class="level-left">
      <p class='is-size-3'><strong>Orders</strong></p>
    </div>
    <div class="level-right">
      <%= link_to 'Export to CSV', csv_export_admins_orders_path, class: "button is-outlined" %>
    </div>
  </nav>
  <div class='box'>
    <div class="list has-hoverable-list-items has-visible-pointer-controls">
      <% @orders.each do |order| %>
        <div class="list-item" test_id="order_<%= order.id %>">
          <div class="list-item-content">
            <div class="list-item-title"><%= order.employee.email %></div>
            <div class="list-item-title"><%= order.reward.title %></div>
            <div class="list-item-description">
              <p class="has-text-weight-semibold">Price: <%= order.purchase_price %></p>
              <p><%= order.reward.description %></p>
              <p>Ordered at: <%= order.created_at.strftime("%F") %></p>
            </div>
          </div>
          <div class="list-item-controls">
            <div class="buttons is-right">
              <% unless order.delivered? %>
                <%= link_to 'Deliver', deliver_admins_order_path(order), method: :put, data: { confirm: 'This action can not be undone. Do you want to deliver reward?' }, class: "button is-outlined"  %>
              <% else %>
                <%= link_to 'Delivered', '#', disabled: true, class: "button is-outlined"  %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
