<div class="navbar-item has-dropdown is-hoverable" test_id="admin_panel">
  <a class="navbar-link">
    Admin panel
  </a>
  <div class="navbar-dropdown is-right">
    <%= link_to 'Dashboard', admins_pages_dashboard_path, class: 'navbar-item' %>
    <%= link_to 'Kudos', admins_kudos_path, class: 'navbar-item' %>
    <%= link_to 'Employees', admins_employees_path, class: 'navbar-item' %>
    <%= link_to 'Company Values', admins_company_values_path, class: 'navbar-item' %>
    <%= link_to 'Rewards', admins_rewards_path, class: 'navbar-item' %>
    <%= link_to "Orders ( #{undelivered_orders_count} )", admins_orders_path, class: 'navbar-item', test_id: 'undelivered_orders_count' %>
    <hr class="navbar-divider">
    <%= display_curent_users_email_on_test_or_development(current_admin) %>
    <%= link_to 'Sign out Admin', destroy_admin_session_path, method: :delete, class: 'navbar-item' %>
