<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%=  link_to image_tag('erc_logo.png'), root_path, class: 'navbar-item' %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="topNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="topNavbar" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Kudos', kudos_path, class: 'navbar-item' %>
      <% if admin_signed_in? %>
        <%= link_to 'Admin Dashboard', admins_pages_dashboard_path, class: 'navbar-item' %>
      <% end %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <% if employee_signed_in? %>
          <%= style_avaible_kudos(current_employee.number_of_available_kudos) %>
        <% end %>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <% if ['admins/sessions', 'admins/pages'].exclude? params[:controller] %>
            <% if employee_signed_in? %>
              <% if ENV['RAILS_ENV'] == 'test' %>
                logged user: <%= current_employee.email%>
              <% end %>

              <%= link_to 'Sign out', destroy_employee_session_path, method: :delete, class: 'button is-light' %>
            <% else %>
              <%= link_to 'Sign in', new_employee_session_path, class: 'button is-primary' %>
              <%= link_to 'Sign up', new_employee_registration_path, class: 'button is-light' %>
            <% end %>
          <% end %>

          <% if admin_signed_in? %>
            <% if ENV['RAILS_ENV'] == 'test' %>
              logged admin: <%= current_admin.email%>
            <% end %>
            <%= link_to 'Sign out Admin', destroy_admin_session_path, method: :delete, class: 'button is-light' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
