<nav class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%=  link_to image_tag('erc_logo.png'), root_path, class: 'navbar-item' %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="topNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="topNavbar" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Kudos', kudos_path, class: 'navbar-item' %>
      <%= link_to 'Rewards', rewards_path, class: 'navbar-item' %>
    </div>

    <div class="navbar-end">
      <% if employee_signed_in? %>
        <div class="navbar-item">
          <%= style_avaible_kudos(current_employee.number_of_available_kudos) %>
        </div>
        <%= display_curent_users_email_on_test_or_development(current_employee) %>
        <div class="navbar-item">
          <div class="buttons">
            <%= link_to 'Sign out', destroy_employee_session_path, method: :delete, class: 'button is-light' %>
          </div>
        </div>
      <% else %>
        <div class="navbar-item">
          <div class="buttons">
            <%= link_to 'Sign in', new_employee_session_path, class: 'button is-primary' %>
            <%= link_to 'Sign up', new_employee_registration_path, class: 'button is-light' %>
          <% end %>
        </div>
      </div>
      <% if admin_signed_in? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Admin panel
          </a>
          <div class="navbar-dropdown is-right">
            <%= link_to 'Dashboard', admins_pages_dashboard_path, class: 'navbar-item' %>
            <%= link_to 'Kudos', admins_kudos_path, class: 'navbar-item' %>
            <%= link_to 'Employees', admins_employees_path, class: 'navbar-item' %>
            <%= link_to 'Company Values', admins_company_values_path, class: 'navbar-item' %>
            <%= link_to 'Rewards', admins_rewards_path, class: 'navbar-item' %>
            <hr class="navbar-divider">
            <%= display_curent_users_email_on_test_or_development(current_admin) %>
            <%= link_to 'Sign out Admin', destroy_admin_session_path, method: :delete, class: 'navbar-item' %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
